<header xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-inverse" style="height: 60px; padding-top: 5px; padding-bottom: 5px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/study9/home}">
                    <img th:src="@{/images/icon/icon.jpg}" alt="Study(" style="width: 175px; height: 35px;">
                </a>
            </div>
            <div class="nav navbar-nav navbar-right">
                    <span class="glyphicon"> Liên hệ Study9:
                    <a href="https://www.facebook.com/ttgshopvn" style="margin: 0px 5px">
                        <span class="glyphicon"></span>
                        <i class="bi bi-facebook text-dark"></i>
                    </a>
                    <a href="#" style="margin: 0px 5px">
                        <span class="glyphicon"></span>
                        <i class="bi bi-envelope-at-fill  text-dark"></i>
                    </a>
                    <a href="#" style="margin: 0px 5px">
                        <span class="glyphicon"></span>
                        <i class="bi bi-youtube text-dark"></i>
                    </a>
                    </span>
            </div>
        </div>
    </nav>
</header>